POSTGRES_HOST
POSTGRES_PORT
POSTGRES_USER
POSTGRES_DB
POSTGRES_PASSWORD
POSTGRES_SSLMODE
TEST_POSTGRES_HOST
TEST_POSTGRES_PORT
TEST_POSTGRES_DB
TEST_POSTGRES_USER
TEST_POSTGRES_PASSWORD
JWT_SECRET
ELEVENLABS_API_KEY
ELEVENLABS_AGENT_ID
GEMINI_API_KEY
BACKEND_URL
STRIPE_SECRET_KEY
SOLANA_RPC_ENDPOINT
SOLANA_PROGRAM_ID
SOLANA_ORACLE_PUBKEY
SOLANA_ORACLE_PRIVATE_KEY
GORM_SILENT